
	* { margin: 0; padding: 0; border: 0; font-size: 100%; }

header {
	
background:#85ACA2;
	color: #85ACA2;
	text-align:right;
	padding: 0px; 


}

.navbar-brand { font-size: 35px; 

	
   }

body { 
	
	
}

.nav {
	background: #85ACA2
}

.nav-link {
	
	color:#EED10E;
	font-size: 25px;
	padding-bottom: 15px
	
		
}


.carousel {
	margin-left: 80px;
	margin-right: 80px;
	align-content: center
	
	
}
.my-container {
	margin-left: 100px;
	margin-right: 100px;
	border: thick;
	background: #85ACA2;
	text-align: center;
		
}

.img-thumbnail {
	width: 300px; 
	margin-top: 20px;
			
}






h2 {
	text-align: center;
	margin: 20px;
	font-size: 60px;
	color: #85ACA2;

		
}
h1 {
color:#EED10E;
	
}

h6 { 
	
}

p { 
color:aliceblue

}
	

.testimonial {
	margin-left: 60px;
	margin-right: 60px;
	padding: 20px; 
		
}



footer {
	background:#85ACA2;
	padding: 60px;
	
}