

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

header {
	background:#339933;
	color: #339933;
	text-align:right;
	padding: 0px; 
}

.container {
	width: 89%;
	min-height: 79vh;
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.navbar-brand { 
	font-size: 30px; 
	color: white;
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
   }

.nav-link {
	font-size: 25px;
	padding-bottom: 15px;
	color: #339933;
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.nav-link:hover, .nav-link:active {
	color:#339933 !important;
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.navbar-light .navbar-nav .nav-link{
	color:#EED10E;
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #EED10E !important;
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
}

a {
	color:#339933;	
	font-size: 30px;
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.container-fluid {
	text-align: center;	
}

.text-center { 
	background: #E6E5E5;
	margin: 0px;
	padding-top: 150px;
	padding-bottom: 30px;
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
}
	
body {
	background-image: url("../images/bars.png");
	background-repeat: no-repeat;
 	background-attachment: fixed;
  	background-size: 100% 100%;
}

.margins {
    margin-left: 300px;
    margin-right: 300px;
}

.img-fluid {
	width: 300px; 
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.col-md-6 {
	margin: auto;
}

.col-md-4 {
	margin-top: 40px;
	margin-bottom: 70px;
}

.center {
	display: block;
	margin-left:auto;
	margin-right:auto;
}

h2 {
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
    text-align: center;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
    font-size: 30px;
    color: #339933;		
}

h1 {
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	color:#EED10E;
}

h5 {
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: black;
	background: white;
	opacity: 0.6;
}
h4 {
	font-family: acumin-pro, sans-serif;
	font-weight: 700;
	font-style: normal;
    text-align: center;
    margin: 60px;
    font-size: 60px;
    color:#EED10E; 		
}

p, ul { 
	text-align: center;
	font-family: century-gothic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.d-bloc {
	margin-left: 80px;
	margin-right: 80px;
	width: 50%; 
}

.embed-responsive-item {
	display: block;
  	margin: 0 auto;
}

.jumbotron{
	margin: auto;
	background: #E6E5E5;
	text-align: center;
}

.rounded{
    width: 30px; 
}

.btn {
	margin-top: 0px;
	color: #339933;
}
	



.btn-primary {
    color: #E6E5E5;
    background-color: #E6E5E5;
    border-color:#EED10E;
}



.btn-primary:hover {
    color: #EED10E;
    background-color: #EED10E;
    border-color: #EED10E;
}

.contactinfo {
    color: #339933;
    text-align: center;
	font-size: large		
}

.contactinfotitle {
    text-align: center;
}

.instagram { 
	font-size: medium;
}

.footer {
	margin: auto;
    background-color: #EED10E;
    border-bottom-width: thick;
    padding-top: 20px;
    padding-bottom: 25px;
}

.bag-section{
	text-align: center;
	padding: 15px;
	margin: 15px 15px 40px 15px;
}

.text-checkout{
	text-align: center;
	border: solid #EED10E 1px;
	border-radius: 1px;
	padding: 35px;
	margin: 15px;
	background-color:#EED10E;
	align-content: center;
	font-family: century-gothic, sans-serif;
	font-weight: 500;
	font-style:normal;

}

.btn-outline-warning{
	color:#339933;
	border-color: #339933;
	text-align: center;
	align-items: center;
}

.content-shop, main{
	min-height: 80vh;
}

.justificationtext h2{
	font-style: normal;
	margin: 30px;
	padding: 15px;
	text-align: center;
}

.container-testing{
	padding: 15px;
	margin: 25px;
}

.user-testing{
	padding: 20px;
	margin: 25px;
}