	* { margin: 0; padding: 0; border: 0; font-size: 100%; }

header {
	background:#339933;
	color: #339933;
	text-align:right;
	padding: 0px; 
}

.navbar-brand { 
	font-size: 30px; 
	color: white;
   }

.dropdown-item {
	font-size: 17px;
	color: #339933;
}

.nav-link {
	
	color:#339933;
	font-size: 25px;
	padding-bottom: 15px
}

a {color:#339933;	
font-size: 30px;
}

.carousel {
	margin-left: 80px;
	margin-right: 80px;
	align-content: center	
}


.container-fluid {
	text-align: center;
	padding: 3px;	
}

.text-center { 
	
	background: #E6E5E5;
	margin: 0;
	padding-top: 170PX;
}
	
	
.contactinfotitle {
    text-align: center;
}

.margins {
    margin-left: 300px;
    margin-right: 300px;
}

	

.img-fluid {
	width: 350px; 
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.col-md-6 {
	margin: auto;
}

.col-md-4 {
	margin-top: 40px;
	margin-bottom: 70px;
}


.center {
	display: block;
	margin-left:auto;
	margin-right:auto;
}


h2 {
    text-align: center;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
    font-size: 30px;
    color: #339933;		
}

h1 {
color:#EED10E;
}

h4 {

    text-align: center;
    margin: 60px;
    font-size: 60px;
    color:#EED10E; 		
}


.contactinfo {
    color: green;
    text-align: center;
	font-size: large
}


p { 
	text-align: center;
}
	

.testimonial {
	margin-left: 60px;
	margin-right: 60px;
	padding: 20px; 
		
}

.d-bloc {
	margin-left: 80px;
	margin-right: 80px;
	width: 50%; 
	
}
.embed-responsive-item {
	  display: block;
   margin: 0 auto;
}

.jumbotron{
	margin: auto;
	background: #E6E5E5;
}

.rounded{ width: 30px;
	

}
footer {
	background:#E6E5E5;
	padding: 0px;
	margin: 0px; 
}


.display-4 { text-align: center
		
	}
	
.btn {
	margin: 2px;
}	



.bag-icon{
	margin: 12px;
	padding: 5px;
}
.btn-primary {
    color: #E6E5E5;
    background-color: #E6E5E5;
    border-color:#EED10E;

}

.size {
	padding: 12px;
	width: 65px;
	
}

.btn-primary:hover {
    color: #EED10E;
    background-color: #EED10E;
    border-color: #EED10E;
}
